@model IdentityApp.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Register new user</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div>
            Email
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>

        <div>
            Year of birth
            <div>
                @Html.EditorFor(model => model.Year)
            </div>
        </div>

        <div>
            Password
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            Confirm password
            <div>
                @Html.EditorFor(model => model.PasswordConfirm)
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Rgister" />
            </div>
        </div>
    </div>
}
@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Validator.js"></script>
    }    